<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  box-shadow: 10px 10px 5px grey;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
div.wrapper {
    text-align: center;
}

div.button {
    position: absolute;
    top: 50%;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" >
    <img src="{{ url_for('image',idx=idx1) }}" alt=" Terre" value={{idx1}} onclick="image_click(this.value)" width="1000" height="700">
  </a>
  <div class="wrapper">
  <p> ID: {{idx1}}
  </div>
</div>
<div class="wrapper">
    <a  id=refresh><button class='btn btn-default' onclick="refresh_image()">Test</button></a>
</div>
</body>

<script type=text/javascript>

function image_click(value) {
  var xhttp = new XMLHttpRequest();
  xhttp.open("GET", "select?idx="+value, true);
  xhttp.send();
  window.location.href="refresh"

}

function refresh_image() {
  window.location.href="refresh"
}


</script>

</html>
